absl-py==0.10.0
aiofiles==0.5.0
aiohttp==3.5.4
APScheduler==3.6.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.9.3
blis==0.2.4
boto3==1.9.146
botocore==1.12.253
bz2file==0.98
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==1.2.3
cryptography==3.1.1
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
dill==0.3.2
dm-tree==0.1.5
dnspython==1.16.0
docker==4.3.1
docopt==0.6.2
docutils==0.15.2
dopamine-rl==3.0.1
english==2020.7.0
fbmessenger==6.0.0
Flask==1.1.2
flax==0.2.2
future==0.18.2
gast==0.2.2
gevent==1.4.0
gin-config==0.3.0
google-api-core==1.22.4
google-api-python-client==1.12.3
google-auth==1.22.1
google-auth-httplib2==0.0.4
google-pasta==0.2.0
googleapis-common-protos==1.52.0
greenlet==0.4.17
grpcio==1.32.0
gunicorn==20.0.4
gym==0.15.4
h11==0.8.1
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
httpcore==0.3.0
httplib2==0.18.1
httptools==0.1.1
humanfriendly==8.2
hyperframe==5.2.0
idna==2.8
importlib-metadata==2.0.0
importlib-resources==3.0.0
itsdangerous==1.1.0
jax==0.2.3
jaxlib==0.1.56
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
jsonpickle==1.1
jsonschema==3.0.2
kafka-python==1.4.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kfac==0.2.3
kiwisolver==1.2.0
Markdown==3.3.2
markdownify==0.5.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mattermostwrapper==2.1
mesh-tensorflow==0.1.17
mitie==0.7.36
monotonic==1.5
mpmath==1.1.0
msgpack==1.0.0
multidict==4.6.1
murmurhash==1.0.2
mysqlclient==2.0.1
neotime==1.7.4
networkx==2.4
numpy==1.16.3
oauth2client==4.1.3
opencv-python==4.4.0.44
opt-einsum==3.3.0
packaging==19.0
pandas==1.1.3
pansi==2020.7.3
pika==1.0.1
Pillow==8.0.0
plac==0.9.6
preshed==2.0.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.13.0
psycopg2-binary==2.8.2
py2neo==2020.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
pygame==1.9.6
pyglet==1.3.2
Pygments==2.7.1
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.8.0
pyparsing==2.4.7
pypng==0.0.20
pyrsistent==0.17.3
PySocks==1.7.1
python-crfsuite==0.9.7
python-dateutil==2.8.0
python-engineio==3.9.3
python-socketio==4.3.1
python-telegram-bot==11.1.0
pytz==2019.1
PyYAML==5.3.1
questionary==1.1.1
rasa==1.7.4
rasa-sdk==1.7.0
redis==3.3.5
requests==2.22.0
requests-async==0.5.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rocketchat-API==0.6.31
rsa==4.6
ruamel.yaml==0.15.94
s3transfer==0.2.1
sanic==19.9.0
Sanic-Cors==0.9.9.post1
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.8.2
scikit-learn==0.20.2
scipy==1.2.1
six==1.15.0
sklearn-crfsuite==0.3.6
slackclient==1.3.1
soupsieve==2.0.1
spacy==2.1.4
SQLAlchemy==1.3.20
srsly==1.0.2
sympy==1.6.2
tabulate==0.8.7
tensor2tensor==1.14.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-cpu==1.15.0
tensorflow-cpu-estimator==1.15.1
tensorflow-datasets==1.3.2
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-hub==0.6.0
tensorflow-metadata==0.24.0
tensorflow-probability==0.7.0
tensorflow-text==1.15.1
termcolor==1.1.0
terminaltables==3.1.0
tf-slim==1.1.0
thinc==7.0.8
tqdm==4.31.0
twilio==6.26.3
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.1
uritemplate==3.0.1
urllib3==1.25.11
uvloop==0.14.0
wasabi==0.8.0
wcwidth==0.2.5
webexteamssdk==1.1.1
websocket-client==0.54.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.2
zipp==3.3.1
