absl-py==0.7.1
aiofiles==0.4.0
aiohttp==3.5.4
alembic==1.0.11
appdirs==1.4.3
APScheduler==3.6.1
asn1crypto==0.24.0
astor==0.8.0
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
bcrypt==3.1.6
beautifulsoup4==4.8.0
boto3==1.9.197
botocore==1.12.197
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.14.0
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
decorator==4.4.0
docopt==0.6.2
docutils==0.14
fakeredis==1.0.3
fbmessenger==6.0.0
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
gast==0.2.2
gevent==1.4.0
greenlet==0.4.15
grpcio==1.22.0
h5py==2.9.0
httptools==0.0.13
humanfriendly==4.18
hyperlink==19.0.0
idna==2.8
idna-ssl==1.1.0
importlib-metadata==0.17
incremental==17.5.0
isodate==0.6.0
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10.1
jmespath==0.9.4
jsonpickle==1.2
jsonschema==2.6.0
kafka-python==1.4.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.3.4
Mako==1.0.14
Markdown==3.1.1
markdownify==0.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mattermostwrapper==2.1
mitie==0.7.0
mixpanel==4.4.0
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
more-itertools==7.0.0
multidict==4.5.2
neobolt==1.7.13
neotime==1.7.4
networkx==2.3
numpy==1.17.0
packaging==19.0
parsel==1.5.1
pika==1.0.1
pluggy==0.12.0
prompt-toolkit==2.0.9
protobuf==3.9.0
py==1.8.0
py2neo==4.3.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyDispatcher==2.0.5
pydot==1.4.1
Pygments==2.3.1
PyHamcrest==1.9.0
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.8.0
pyOpenSSL==19.0.0
pyparsing==2.4.1.1
pyreadline==2.1
PySocks==1.7.0
pytest==5.0.1
pytest-runner==4.4
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-editor==1.0.4
python-engineio==3.8.2.post1
python-socketio==4.2.1
python-telegram-bot==11.1.0
pytz==2019.1
pywin32==223
PyYAML==5.1.1
questionary==1.1.1
queuelib==1.5.0
rasa==1.1.8
rasa-sdk==1.1.1
redis==3.3.0
requests==2.22.0
requests-toolbelt==0.9.1
rocketchat-API==0.6.34
ruamel.yaml==0.15.100
s3transfer==0.2.1
sanic==19.3.1
Sanic-Cors==0.9.8.post1
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.7.0
scikit-learn==0.20.3
scipy==1.3.0
Scrapy==1.6.0
service-identity==18.1.0
simplejson==3.16.0
six==1.12.0
sklearn-crfsuite==0.3.6
slackclient==1.3.2
sortedcontainers==2.1.0
soupsieve==1.9.2
SQLAlchemy==1.3.6
tabulate==0.8.3
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminaltables==3.1.0
tqdm==4.32.2
twilio==6.29.2
Twisted==19.7.0
typing-extensions==3.7.4
tzlocal==2.0.0
urllib3==1.24.3
w3lib==1.20.0
wcwidth==0.1.7
webexteamssdk==1.1.1
websocket-client==0.54.0
websockets==6.0
Werkzeug==0.15.5
wincertstore==0.2
yarl==1.3.0
zipp==0.5.1
zope.interface==4.6.0
